<a class="notifications-info" data-ng-class="{disable: !notifications.length}" data-toggle="dropdown">
    <i class="fa fa-bell" aria-hidden="true"></i>
    <span class="label"
          data-ng-class="notifications.length ? 'label-primary' : 'label-default'"
          data-ng-bind="notifications.length">
    </span>
</a>

<ul data-ng-init="find()" data-ng-show="notifications.length" class="dropdown-menu dropdown-alerts notifications-dropdown">
    <li data-ng-repeat="notification in notifications | limitTo: 3 " class="clearfix notification-item">
		<div class="pull-left">

			<!-- TODO: note, will throw error when used for event notifications -->
			<!-- TODO: eventually, href should refer to a slot. fix this later -->
			<a data-ui-sref="todo_state.tasks.edit({ taskId: notification.taskId })" class="notification-link"
			   data-ng-bind="notification.title"></a>

		</div>
	</li>
	<li>
		<a ui-sref="overdue" class="notification-control text-center">See all notifications > </a>
	</li>
</ul>
