<a class="notifications-info" data-ng-class="{disable: !notifications.slots.length}" data-toggle="dropdown">
    <i class="fa fa-bell" aria-hidden="true"></i>
    <span class="label" data-ng-class="notifications.slots.length ? 'label-primary' : 'label-default'"
          data-ng-bind="notifications.slots.length">
    </span>
</a>

<ul data-ng-init="find()" data-ng-show="notifications.slots.length" class="dropdown-menu dropdown-alerts notifications-dropdown">
    <li data-ng-repeat="slot in notifications.slots | limitTo: 3 " class="clearfix notification-item">
		<div class="pull-left">

			<!-- TODO: note, will throw error when used for event notifications -->
			<!-- TODO: eventually, href should refer to a slot. fix this later -->
			<a data-ui-sref="todo_state.tasks.edit({ taskId: slot.taskId })" class="notification-link"
			   data-ng-bind="slot.title"></a>
			<button class="btn btn-primary btn-circle btn-outline"
					data-ng-click="completeSlot(slot, notifications.tasks)">
				<i class="fa fa-chevron-down" aria-hidden="true"></i>
			</button>

		</div>
	</li>
	<li>
		<a ui-sref="overdue" class="notification-control text-center">See all notifications > </a>
	</li>
</ul>
