<div data-ng-controller="HeaderController as vm" data-ng-show="vm.Authentication.user"
	 class="navbar navbar-static-top border-bottom">
	<div class="navbar-header">
		<a class="navbar-minimalize minimalize-styl-2 btn btn-primary" data-ng-click="vm.toggleSidebar()">
			<i class="fa fa-bars" aria-hidden="true"></i>
		</a>
	</div>
	<ul class="nav navbar-top-links navbar-right">
		<li>
			<!-- TODO: tight coupling! string -->
			<a class='top-link' ui-sref="todo_state.events.create({ eventPresetType: 'sick' })">
				<i class="fa fa-heartbeat" aria-hidden="true"></i>Sick today
			</a>
		</li>
		<li>
			<!-- TODO: tight coupling! string -->
			<a class='top-link' ui-sref="todo_state.events.create({ eventPresetType: 'vacation' })">
				<i class="fa fa-plane" aria-hidden="true"></i>
				Vacation
			</a>
		</li>
		<li>
			<a class='top-link' ui-sref="todo_state">
				<i class="fa fa-calendar calendar-btn" aria-hidden="true"></i>
			</a>
		</li>

		<li class="dropdown nav-notifications" notification-tooltip></li>

		<li class="dropdown nav-user-profile">
			<a class="dropdown-toggle" type="button" data-toggle="dropdown">
				<span data-ng-bind="vm.user.username ? vm.user.username : 'username'"
					  class="navbar-header__username"></span>
				<div class="profile-image-wrapper img-circle">
					<img src="{{vm.user.profileImageURL}}"
						 class="profile-image">
				</div>
				<span class="caret"></span></a>
			<ul class="dropdown-menu">
				<li><a href="#!/settings/profile">Settings</a></li>
				<li><a href="#!/templates">My templates</a></li>
				<li><a href="/auth/signout">Logout</a></li>
			</ul>
		</li>
	</ul>
</div>
