@import "variables";

.undecorated-link:hover {
	text-decoration: none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
	display: none !important;
}

.browsehappy.jumbotron.hide,
body.ng-cloak {
	display: block;
}

body {
	background: #f3f3f4;
}

a {
	color: @link-color;
}

textarea {
	resize: vertical;
}

.page-wrapper {
	height: 100%;
}

.container-wrapper {
	background: #f3f3f4;
}

.btn {
	background-image: none;
	outline: none;
	&:focus, &:active,
	&:focus:active {
		outline: none;
	}
}

.only-mobile {
	display: none;

	@media @mobile-display {
		display: block;
	}
}

// Styles for sidebar

.left-sidebar {
	position: fixed;
	z-index: 1;
	background: #2f4050;
	top: 0;
	left: 0;
	height: 100%;
	width: 300px;
	overflow-y: auto;

	&__category-control {
		width: 100%;
		border: none;

		option {
			background-color: #2f4050;
		}
	}
}

.nav-header {
	background-repeat: repeat;
}

.nav-title {
	font-size: 1.5em;
	color: #fff;
	text-transform: uppercase;
}

.add-task {
	float: right;
	color: #fff;
	font-size: 1.3em;
	&:hover {
		color: @base-color;
	}
}

.nav-item {
	color: #fff;
	padding: 14px 20px 14px 25px;
	position: relative;
	font-size: 1.2em;
	cursor: pointer;
	&:hover {
		background: #293846;
	}
}

.task-list-item {
	.task-priority {
		margin-right: 10px;
	}
}

.main-view-container {
	height: 100%;

	> section {
		height: 100%;
	}
}

.main-content {
	transition: margin .6s;
	position: relative;
	height: 100%;
	z-index: 2;

	&.with-sidebar {
		margin-left: 300px;
	}

	.container-wrapper {
		min-height: 100%;
		position: relative;

		.navbar-default {
			background: #fff;
			box-shadow: none;
			padding: 0 15px;
			box-sizing: border-box;
		}
	}
}

.ibox {
	.ibox-content {
		padding: 15px 20px 20px;
		min-height: 330px;
	}
}

.btn-ibox-title {
	margin-top: -10px;
}

.p-r-1 {
	padding-right: 5px;
}

.p-l-1 {
	padding-left: 5px;
}

.p-1 {
	padding-right: 5px;
	padding-left: 5px;
}

.p-y-1 {
	padding-top: 5px;
	padding-bottom: 5px;
}

.notifications-info .label {
	line-height: 12px;
	padding: 2px 5px;
	position: absolute;
	right: 6px;
	top: 12px;
}

.navbar {
	background: #fff;

	.top-link {
		&:hover {
			color: #1ab394;
		}
	}
}

.navbar-right i {
	font-size: 20px;
}

.navbar-header {
	> .page-title {
		display: inline-block;
		vertical-align: middle;
		margin: 0 0 0 15px;
		line-height: 50px;
	}
	> .menu-btn {
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
		font-size: 1.5em;
	}
	&__username {
		max-width: 100px;
		display: inline-block;
		text-align: center;
		overflow: hidden;
		text-overflow: ellipsis;
		vertical-align: middle;
	}
}

.nav-user-profile {
	display: inline-block;
	vertical-align: middle;

	> .dropdown-toggle {
		color: #676a6c;
		font-size: 16px;
		padding: 0;

		> * {
			vertical-align: middle;
		}
	}

	> .dropdown-menu a {
		font-size: 14px;
	}
	.profile-image-wrapper {
		display: inline-block;
		position: relative;
		overflow: hidden;
		width: 48px;
	}
	.profile-image {
		height: 48px;
	}
}

div.ui-notification {
	:before {
		content: '×';
		right: 5px;
		top: 0;
		position: absolute;
		display: block;
		font-size: 20px;
		line-height: 1;
	}

	&.success {
		background: #1ab394;
	}

	.message {
		background-color: transparent;
		border: none;
		text-align: left;
		display: block;
		padding: 0;
		position: relative;
		border-radius: 0;
	}
}

.error-message {
	.error-text {
		color: @error-message-color;
	}
}

// priority
.item {
	&-priority {
		color: @color-mid-grey;
	}
	&-priority-1 {
		border-left: 10px solid @color-dark-pink;
		color: @color-dark-pink;

		.item-priority:focus {
			border-color: @color-dark-pink !important;
		}
	}
	&-priority-2 {
		border-left: 10px solid @color-sun;
		color: @color-sun;

		.item-priority:focus {
			border-color: @color-sun !important;
		}
	}
	&-priority-3 {
		border-left: 10px solid @color-mountain-meadow;
		color: @color-mountain-meadow;

		.item-priority:focus {
			border-color: @color-mountain-meadow !important;
		}
	}
	&-priority-4 {
		border-left: 10px solid @color-mid-grey;
		color: @color-mid-grey;

		.item-priority:focus {
			border-color: @color-mid-grey !important;
		}
	}
}

.bootstrap-datetimepicker-widget {
	font-size: 0.85em;

	.row {
		margin: 0;
	}

	&.dropdown-menu {
		padding: 0;
	}

	.datepicker {
		padding: 0;
	}

	.datepicker-days {
		.table-condensed {
			thead {
				tr:first-child th {
					border-radius: 0;
					background: @color-mountain-meadow;
					color: #fff;

					&:hover,
					&:active,
					&:hover:active {
						background-color: darken(@color-mountain-meadow, 3%);
					}
				}
				.dow {
					color: @color-mountain-meadow;
					&:nth-child(6),
					&:nth-child(7) {
						color: @color-dark-pink;
					}
				}
			}

			tbody {
				.day {
					&.active,
					&:active,
					&:hover {
						border-radius: 50%;
					}

					&.today {
						&:before {
							border: 0;
						}
						&:not(.active) {
							font-weight: 900;
							color: @color-mountain-meadow;
						}
					}

					&.weekend {
						color: @color-dark-pink;
						&.active {
							color: #fff;
						}
					}

					&.new, &.disabled, &.old {
						opacity: 0.4;
					}
				}
			}
		}
	}

	.picker-switch.accordion-toggle {
		font-size: 1.2em;
	}

	@media (min-width: 768px) {
		.datepicker.col-md-6,
		.timepicker.col-md-6 {
			width: 50%;
			display: inline-block;
		}
	}
}

.ui-sref.back {
	margin-bottom: 20px;
}
.rzslider-manual-input {
	margin-top: .5em;
}
