<div ng-controller="HeaderController">
	<div class="container-fluid">
		<div class="navbar-header">
			<span class="menu-btn glyphicon glyphicon-menu-hamburger" ng-click="toggleSidebar()" aria-hidden="true"></span>
			<h2 class="page-title">User profile</h2>
		</div>
		<div class="notification-menu">
			<span class="glyphicon glyphicon-calendar calendar-btn" aria-hidden="true"></span>
			<div class="notification-icon">
				<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
				<span class="badge">2</span>
			</div>

			<div class="dropdown nav-user-profile">
				<a class="dropdown-toggle" type="button" data-toggle="dropdown">Username
					<img src="https://cdn1.iconfinder.com/data/icons/mix-color-4/502/Untitled-1-48.png"
						 class="profile-image img-circle">
					<span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#" ng-click="goToUserSettings()" >Settings</a></li>
					<li><a href="#" ng-click="logOut()">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
