<ul class="nav" data-ng-controller="AsideController">
	<select class="nav-header nav-title left-sidebar__category-control"
			ng-model="currentCategory"
			ng-options="category for category in categories"
			ng-change="updateView()">
	</select>
	<div ng-switch on="currentCategory">
		<div ng-switch-when="todo">
			<li class="active">
				<div href="#" class="nav-item">
					<span class="nav-label">Tasks</span>
					<a data-ng-href="#!/tasks/create" class="fa fa-plus-circle add-task"></a>
				</div>
				<ng-include src="'/modules/tasks/views/list-tasks.client.view.html'"></ng-include>
			</li>
			<li class="active">
				<div href="#" class="nav-item">
					<span class="nav-label">Events</span>
					<a data-ng-href="#!/events/create" class="fa fa-plus-circle add-task"></a>
				</div>
				<ng-include src="'/modules/events/views/list-events.client.view.html'"></ng-include>
			</li>
		</div>
		<div ng-switch-when="templates">
			<div href="#" class="nav-item">
				<span class="nav-label">Tasks templates</span>
				<a data-ng-href="#!/tasks/create" class="fa fa-plus-circle add-task"></a>
			</div>
			<ng-include src="'/modules/templates/views/templates-tasks-list.client.view.html'"></ng-include>

			<div href="#" class="nav-item">
				<span class="nav-label">Events templates</span>
				<a data-ng-href="#!/events/create" class="fa fa-plus-circle add-task"></a>
			</div>
			<ng-include src="'/modules/templates/views/templates-events-list.client.view.html'"></ng-include>
		</div>
		<div ng-switch-when="overdue">
			<ng-include src="'/modules/schedule-notifications/views/list-notifications.client.view.html'"></ng-include>
		</div>
		<div ng-switch-default>No data</div>
	</div>
</ul>
