<div class="wrapper create-task-wrapper row clearfix" data-ng-controller="TasksController">
	<form class="form-horizontal" novalidate>
		<fieldset>
			<div class="row">
				<div class="col-md-7 col-sm-6 col-xs-12 p-r-1">
					<div class="ibox task-details">
						<h4 class="ibox-title">New task</h4>
						<div class="ibox-content row">
							<div class="col-md-4 col-sm-12">
								<div class="field-group" ng-class="{ error: validationError.title }">
									<label class="field-label" for="title">Title*</label>
									<input type="text" data-ng-model="newTask.title"  id="title"
										   class="form-control input-round-borders" placeholder="Title" required >
									<div ng-show="validationError.title" class="error">
										{{validationError.title.message}}
									</div>
								</div>
								<div class="field-group">
									<label class="field-label" for="title">Template</label>
									<select class="form-control" data-ng-change="loadTaskTemplate(selectedTemplate)"
											data-ng-model="selectedTemplate" data-ng-options="template.title for template in user.templates"
									>
										<option value="">Select template</option>
									</select>
								</div>
								<div class="field-group">
									<label class="field-label" for="title">Priority*</label>
									<select name="priority" class="form-control" data-ng-model="newTask.priority" ng-init="newTask.priority='1'">
										<option value="1">Urgent and Important</option>
										<option value="2">Important not Urgent</option>
										<option value="3">Urgent not Important</option>
										<option value="4">Not Important not urgent</option>
									</select>
									<div ng-show="validationError.priority" class="error">
										{{validationError.priority.message}}
									</div>
								</div>
								<div class="field-group">
									<div class="checkbox">
										<label for="saveAsDraft">
											<input type="checkbox" data-ng-model="newTask.saveAsDraft" id="saveAsDraft">Save as template
										</label>
									</div>
								</div>
								<div class="form-group">
									<div class="checkbox">
										<label for="withOutDate">
											<input type="checkbox" data-ng-model="newTask.withOutDate" id="withOutDate">Task without date
										</label>
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="field-group">
									<label class="field-label">Start date</label>
									<div class="input-group ui-datepicker">
										<span ng-class="{disabled: newTask.withOutDate}"
											  class="input-group-addon calendar-btn" ng-click="openStart($event)">
											<i class="fa fa-calendar"></i>
										</span>

										<input id="startDate" data-ng-disabled="newTask.withOutDate" type="text" class="form-control input-round-borders calendar-input" datepicker-popup="dd.MM.yyyy"
											   data-ng-model="newTask.days.startDate" is-open="opened.startDate" min-date="startDate.minDate" max-date="startDate.maxDate"
											   datepicker-options="dateOptions.startDate" date-disabled="disabled(date, mode)"
											   close-text="Close"
											   ng-click="openStart($event)" required/>
									</div>
									<!--<timepicker class="select-time" ng-model="newTask.startTime" minute-step="15" show-meridian="true"></timepicker>-->
								</div>
								<div class="field-group form-group-time-select">
									<label class="field-label" for="endDate">End date</label>
									<div class="input-group ui-datepicker">
										<span  ng-class="{disabled: newTask.withOutDate}"
											   class="input-group-addon calendar-btn" ng-click="openEnd($event)">
											<i class="fa fa-calendar"></i>
										</span>

										<input id="endDate" data-ng-disabled="newTask.withOutDate" type="text" class="form-control input-round-borders calendar-input" datepicker-popup="dd.MM.yyyy"
											   data-ng-model="newTask.days.endDate" is-open="opened.endDate" min-date="endDate.minDate" max-date="endDate.maxDate"
											   datepicker-options="dateOptions.endDate" date-disabled="disabled(date, mode)"
											   close-text="Close"
											   ng-click="openEnd($event)" required/>
									</div>
									<!--<timepicker class="select-time" ng-model="newTask.endTime" minute-step="15" show-meridian="true"></timepicker>-->
								</div>
								<div class="field-group">
									<label class="field-label">Estimation (hours)</label>
									<div>
										<rzslider rz-slider-model="newTask.estimation"
												  rz-slider-options="slider.options">
										</rzslider>
										<input type="number" min="{{slider.options.floor}}" max="{{slider.options.ceil}}"
											   ng-model="newTask.estimation" data-ng-pattern="/^\d+$/">
									</div>
								</div>
							</div>
							<div class="col-md-4 col-sm-12">
								<div class="field-group">
									<label class="field-label">Notes</label>
									<textarea class="form-control notes-area" data-ng-model="newTask.notes"></textarea>
									<div ng-show="validationError.notes" class="error">
										{{validationError.notes.message}}
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-5 col-sm-6 col-xs-12">
					<!--Slots start-->
					<div class="row">
						<div class="col-md-8 col-sm-12 p-1">
							<div class="ibox">
								<h4 class="ibox-title">Slots</h4>
								<div class="ibox-content">
									table slots
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-12 p-l-1">
							<div class="ibox">
								<h4 class="ibox-title">Progress</h4>
								<div class="ibox-content">
									Task progress
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="btn-holder pull-right">
					<button class="btn btn-white" data-ng-click="cancel()">Cancel</button>
					<button type="submit" data-ng-click="create()" class="btn btn-primary">Create</button>
				</div>
			</div>
		</fieldset>
	</form>
</div>

<div ng-include="'/modules/calendar/views/calendar.client.view.html'"></div>
