<section ng-controller="TasksListController" ng-init="find()">
	<div class="form-group todo-list-controls" data-ng-show="tasks.length > 1">
		<a class="controls-link" ng-click="sortListBy('priority')">
			<i class="fa fa-sort-amount-desc" aria-hidden="true" ng-hide="sortType ==='priority' && sortReverse === true"></i>
			<i class="fa fa-sort-amount-asc" aria-hidden="true" ng-show="sortType ==='priority' && sortReverse === true"></i>
		</a>
		<a class="controls-link" ng-click="sortListBy('days.endTime')">
			<i class="fa fa-long-arrow-up" aria-hidden="true" ng-hide="sortType ==='days.endTime' && sortReverse === true"></i>
			<i class="fa fa-long-arrow-down" aria-hidden="true" ng-show="sortType ==='days.endTime' && sortReverse === true"></i>
			<i class="fa fa-clock-o" aria-hidden="true"></i>
		</a>
	</div>
	<ul class="nav nav-second-level in collapse">
		<li data-ng-repeat="task in tasks | orderBy: sortType : sortReverse" class="task-list-item">
			<a data-ng-href="#!/tasks/{{task._id}}/edit" class="task-list-item">
				<span class="task-priority fa fa-circle {{'task-priority-' + task.priority}}"></span>
				<span class="nav-label task-name" data-ng-bind="task.title"></span>
				<span class="pull-right label label-danger"> 0% </span>
			</a>
		</li>
	</ul>
	<div class="text-center text-muted p-y-1" data-ng-hide="!tasks.$resolved || tasks.length">
		No tasks yet. <br/> Please, click on <span class="fa fa-plus-circle"></span> to add new one.
	</div>
</section>
