<div class="ibox">
	<div class="ibox-title">
		<h5 class="pull-left">Slots</h5>
		<button class="btn btn-white btn-ibox-title pull-right"><i class="fa fa-refresh" aria-hidden="true"></i></button>
	</div>
	<div class="ibox-content">
		<table class="table table-no-tb">
			<tr>
				<td>Monday</td>
				<td>28.08</td>
				<td>16:00 - 19:00</td>
				<td>3h</td>
				<td>
					 <span class="badge badge-primary">
						 <i class="fa fa-chevron-down" aria-hidden="true"></i>
						 Done</span>
				</td>
			</tr>
			<tr>
				<td>Monday</td>
				<td>28.08</td>
				<td>16:00 - 19:00</td>
				<td>3h</td>
				<td class="slot-controls">
					<button class="btn btn-primary btn-circle btn-outline"><i class="fa fa-chevron-down" aria-hidden="true"></i></button>
					<button class="btn btn-primary btn-circle btn-outline"><i class="fa fa-times" aria-hidden="true"></i></button>
				</td>
			</tr>
			<tr>
				<td>Monday</td>
				<td>28.08</td>
				<td>16:00 - 19:00</td>
				<td>3h</td>
				<td></td>
			</tr>
		</table>
	</div>
</div>
