
# User-specific stuff:
.idea/

# Node and related ecosystem
# ==========================
.nodemonignore
.sass-cache/
app/npm-debug.log
app/node_modules/
app/public/lib/
app/app/tests/coverage/
.bower-*/
app/.idea/

# MEAN.js app and assets
# ======================
app/config/sslcerts/*.pem
app/access.log
app/public/dist/

# IntelliJ
# ========
*.iml

# Cloud9 IDE
# =========
.c9/
app/data/
mongod

# General
# =======
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.tmp
*.bak
*.swp
*.css

app/logs/
app/build/

app/app/**/*.js
app/public/**/*.js
app/app/**/*.map
app/public/**/*.map