.navbar-right i {
  font-size: 20px;
}

.navbar-header {
  > .page-title {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 15px;
    line-height: 50px;
  }

  > .menu-btn {
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    font-size: 1.5em;
  }

  &__username {
    max-width: 100px;
    display: inline-block;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
  }
}

.nav-user-profile {
  display: inline-block;
  vertical-align: middle;

  > .dropdown-toggle {
    color: #676a6c;
    font-size: 16px;
    padding: 0;

    > * {
      vertical-align: middle;
    }
  }

  > .dropdown-menu a {
    font-size: 14px;
  }

  .profile-image-wrapper {
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 48px;
  }

  .profile-image {
    height: 48px;
  }
}
