<div href="#" class="nav-item">
	<span class="nav-label">Events templates</span>
	<a data-ui-sref="todo_state.events.create" class="fa fa-plus-circle add-task"></a>
</div>
<section data-ng-controller="templatesEventsListController as templatesEventsListCtrl">
	<div class="form-group todo-list-controls" data-ng-show="templatesEventsListCtrl.templatesList.length > 1">
		<a class="controls-link" ng-click="templatesEventsListCtrl.sortReverse = !templatesEventsListCtrl.sortReverse">
			<i class="fa fa-sort-amount-desc" aria-hidden="true" ng-hide="templatesEventsListCtrl.sortReverse"></i>
			<i class="fa fa-sort-amount-asc" aria-hidden="true" ng-show="templatesEventsListCtrl.sortReverse"></i>
		</a>
	</div>

	<ul class="nav nav-second-level in collapse">
		<li data-ng-repeat="eventTemplate in templatesEventsListCtrl.templatesList | orderBy:'lastUsingDate':templatesEventsListCtrl.sortReverse"
			class="event-list-item"
		>
			<a ng-click="templatesEventsListCtrl.viewTemplate(eventTemplate._id)" class="clearfix">
				<span class="nav-label event-name pull-left" data-ng-bind="eventTemplate.title"></span>
			</a>
		</li>
	</ul>
	<div class="text-center text-muted p-y-1" data-ng-hide="!templatesEventsListCtrl.templatesList.$resolved || templatesEventsListCtrl.templatesList.length">
		No task templates yet. <br/> Please, click on <span class="fa fa-plus-circle"></span> to add new one.
	</div>
</section>
