[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}

.browsehappy.jumbotron.hide,
body.ng-cloak { display: block; }

body { background: @body-background-color; }

a { color: @link-color; }

textarea { resize: vertical; }

.btn {
  background-image: none;
  outline: none;

  &:focus, &:active,
  &:focus:active {
    outline: none;
  }
}

.nav-header { background-repeat: repeat; }

.nav-title {
  font-size: 1.5em;
  color: #FFF;
  text-transform: uppercase;
}

.navbar {
  background: #FFF;

  .top-link {
    &:hover { color: @base-color; }
  }
}
