@import "public/modules/core/less/variables";

.create-task-wrapper {
  padding-bottom: 15px;

  .task-details .col-md-4 {
	padding: 0 10px;
  }

  .error {
	color: red;
	margin-top: 3px;
	> .form-control{
	  border-color: red;
	}
  }

  .ibox-content {
	padding: 15px 10px 20px 10px;
  }

  .field-group {
	margin-bottom: 10px;

	.field-label {
	  margin-bottom: 10px;
	}
  }

  rzslider {
	margin-top: 40px;
  }

  //TODOD Add the scroll for small screens, needed mobile version
  .ibox {
	max-height: 400px;
	overflow-y: scroll;
  }

  .btn-holder {
	margin: 0 15px;
  }
}
