//@import "/public/modules/core/less/variables";

.create-task-wrapper {
  padding-bottom: 15px;

  .task-details .col-md-4 {
	padding: 0 10px;
  }

  .error {
	color: red;
	margin-top: 3px;
	> .form-control{
	  border-color: red;
	}
  }

  .ibox-content {
	padding: 15px 10px 20px 10px;
	min-height: 330px;
  }

  .table-no-tb tr:first-child td {
	border-top: none;
  }

  .field-group {
	margin-bottom: 10px;

	.field-label {
	  margin-bottom: 10px;
	}
  }

  rzslider {
	margin-top: 40px;
  }

  .btn-holder {
	margin: 0 15px;
  }

  .slot-controls .btn {
	padding: 2px;
	width: 25px;
	height: 25px;
  }

  .info-msg {
	margin-top: 30%;
  }

  .notes-area {
	resize: vertical;
	min-height: 110px;
  }
}
