//@import "/public/modules/core/less/variables";

.create-task-wrapper {
	padding-bottom: 15px;

	.task-details .col-md-4 {
		padding: 0 10px;
	}

	.error {
		color: red;
		margin-top: 3px;
		> .form-control {
			border-color: red;
		}
	}

	.ibox-content {
		padding: 15px 10px 20px 10px;
		min-height: 330px;
	}

	.field-group {
		margin-bottom: 10px;
	}

	rzslider {
		margin-top: 40px;
	}
}
