@import "public/modules/core/less/variables";

ol, ul {
	list-style: none;
}
ol, ul, li {
	margin: 0;
	padding: 0;
}

.task {
  &-priority-1 { color: #ed5565; }
  &-priority-2 { color: #f3a747; }
  &-priority-3 { color: #61b394; }
  &-priority-4 { color: #676a6c; }
}
