.fc-button {
  outline: none;
}
.fc-button:not(.fc-state-disabled):hover {
  background: #929699;
  border-color: #7C8083;
  color: #fff;
}
.fc-event.event {
  background: #1ab394;
  border-color: #127561;
}
.fc-event.task {
  background: #1c84c6;
  border-color: #146699
}
.fc-state-active,
.fc-state-disabled {
  background: #929699;
  border-color: #7C8083;
  opacity: 1;
  color: #fff;
}
