<section data-ng-controller="NotificationsController" data-ng-init="find()">
	<ul class="nav nav-second-level in collapse">
		<li data-ng-repeat="notification in notifications">
			<a data-ng-href="#!/notifications/{{notification._id}}" class="task-list-item">
				<span class="task-priority fa fa-circle {{'task-priority-' + notification.priority}}"></span>
				<span class="nav-label task-name" data-ng-bind="notification.title"></span>
				<span class="pull-right label label-danger"> 0% </span>
			</a>
		</li>
	</ul>
	<div class="text-center"
		 data-ng-hide="!notifications.$resolved || notifications.length">
		No Notifications yet
	</div>
</section>
