<section class="row" data-ng-controller="AuthenticationController">
	<div class="row">
		<aside class="col-sm-4 col-xs-12 auth-aside animated fadeInLeft">
			<div class="auth-form">
				<h1 class="app-logo only-mobile">Make It Happen</h1>
				<h2 class="auth-title">Registration</h2>
				<form name="userForm" data-ng-submit="signup(userForm.$valid)" class="form-horizontal" novalidate autocomplete="off">
					<fieldset>
						<div class="form-group" ng-class="{'has-error':  userForm.submitted && userForm.email.$invalid || userForm.email.$dirty && userForm.email.$invalid}">
							<label for="email">Email</label>
							<input type="email" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email" required>
							<div ng-show="userForm.submitted || userForm.email.$dirty" class="error-message">
								<p ng-show="userForm.email.$error.required" class="help-block error-text">Please enter your email</p>
								<p ng-show="userForm.email.$error.email" class="help-block error-text">Please enter a valid email</p>
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error':  userForm.submitted && userForm.username.$invalid || userForm.username.$dirty && userForm.username.$invalid}">
							<label for="username">Username</label>
							<input type="text" id="username" name="username" class="form-control" data-ng-model="credentials.username" placeholder="Username" required>
							<div ng-show="userForm.submitted || userForm.username.$dirty" class="error-message">
								<p ng-show="userForm.username.$error.required" class="help-block error-text">Please enter your username</p>
							</div>
						</div>
						<div class="form-group" ng-class="{'has-error':  userForm.submitted && userForm.password.$invalid || userForm.password.$dirty && userForm.password.$invalid}">
							<label for="password">Password</label>
							<input type="password" id="password" name="password" class="form-control" data-ng-model="credentials.password" placeholder="Password" required password-validator ng-change="validatePassword()" ng-blur="notifyIfInvalid()">
							<div ng-show="userForm.submitted" class="error-message">
								<p ng-show="userForm.username.$error.required" class="help-block error-text">Please enter your password</p>
							</div>
							<script type="text/ng-template" id="validationErrorsTmp.html">
								<div ng-show="errors.length > 0">
									<p class="error-popover-title text-danger">
										<i class="fa fa-exclamation-circle"></i>
										The password must:</p>
									<p ng-repeat="error in errors">{{error}}</p>
								</div>
								<div ng-show="errors.length == 0">
									<p class="error-popover-title text-navy">
										<i class="fa fa-exclamation-circle"></i>
										The password is valid
									</p>
								</div>
							</script>
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-large btn-block btn-primary">Sign up</button>&nbsp; or&nbsp;
							<a href="/#!/signin" class="show-signup btn btn-large btn-block btn-primary">Sign in</a>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong data-ng-bind="error"></strong>
						</div>
					</fieldset>
				</form>
			</div>
		</aside>
		<div class="col-sm-8 intro-section">
			<div class="row intro-block">
				<div class="col-sm-offset-3 col-sm-6">
					<h1 class="app-logo">Make It Happen</h1>
					<p class="intro-desc">Hello there! If you see this logo you are on the right way to making your life easier and
						more organized. Just run application and create your own schedule. We would happy to help you
						with choosing free time slots and estimations. See you on the next page ;)</p>
				</div>
			</div>
		</div>
	</div>
</section>
