<section class="container-fluid auth-page" data-ng-controller="PasswordController">
	<div class="row">
		<aside class="col-sm-4 col-xs-12 auth-aside animated fadeInLeft">
			<div class="auth-form">
				<h2 class="auth-title">Forgot password</h2>
				<form data-ng-submit="askForPasswordReset()" class="signin form-horizontal" autocomplete="off">
					<fieldset class="forgot-reset-pass">
						<div class="form-group">
							<label for="email">User email</label>
							<input type="text" id="email" name="email" class="form-control" data-ng-model="credentials.email" placeholder="Email">
						</div>
						<div class="text-center form-group">
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
						<div class="text-center form-group">
							<a href="#!/signin" class="btn btn-primary">Back to sign in</a>
						</div>
						<div data-ng-show="error" class="text-center text-danger">
							<strong>{{error}}</strong>
						</div>
						<div data-ng-show="success" class="text-center text-success">
							<strong>{{success}}</strong>
						</div>
					</fieldset>
				</form>
			</div>
		</aside>
		<div class="col-sm-8 intro-section">
			<div class="row intro-block">
				<div class="col-sm-offset-3 col-sm-6">
					<h1 class="app-logo">Make It Happen</h1>
					<p class="intro-desc">Hello there! If you see this logo you are on the right way to making your life easier and
						more organized. Just run application and create your own schedule. We would happy to help you
						with choosing free time slots and estimations. See you on the next page ;)</p>
				</div>
			</div>
		</div>
	</div>
</section>
