@import "public/modules/core/less/variables";

.tasks-templates {
	header {
		h4 {
			border-bottom: 1px solid @border-color;
		}
	}

	form {
		background: #fff;
		padding-bottom: 10px;
		margin-bottom: 20px;

		.form-group {
			margin: 0;
		}
	}

	.usage {
		margin-left: 10px;
		margin-right: -10px;
		background: #fff;
	}

	.template-action {
		margin-top: 13px;
	}
}
