.undecorated-link:hover {
  text-decoration: none;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.ng-valid.ng-dirty {
  border-color: #78FA89;
}
.browsehappy.jumbotron.hide,
body.ng-cloak {
  display: block;
}
body {
  background: #fff;
}
.left-sidebar {
  position: fixed;
  z-index: 1;
  background: #3D3D3D;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
}
.main-view-container {
  height: 100%;
}
.main-view-container > section {
  height: 100%;
}
.main-content {
  height: 100%;
  overflow: hidden;
  transition: padding .6s;
  position: relative;
  z-index: 2;
}
.main-content.with-sidebar {
  padding-left: 300px;
}
.main-content .container-wrapper {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.main-content .container-wrapper > header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin: 0;
  background: #F0F0F0;
  border-bottom: 1px solid;
  border-radius: 0;
  height: 70px;
  z-index: 2;
}
.main-content .container-wrapper > .content {
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background: #fff;
}
.navbar-header > .page-title {
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 0 15px;
  line-height: 20px;
}
.navbar-header > .menu-btn {
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 1.5em;
}
.navbar-header:before,
.notification-menu:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  min-height: 70px;
}
.notification-menu {
  float: right;
  min-height: 70px;
  margin: 0 20px 0 0;
}
.notification-menu > .calendar-btn {
  cursor: pointer;
  font-size: 2em;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 0;
}
.notification-menu .notification-icon {
  position: relative;
  display: inline-block;
  font-size: 2em;
  vertical-align: middle;
  padding-top: 5px;
  margin: 0 25px 0 0;
  cursor: pointer;
}
.notification-menu .notification-icon > .badge {
  position: absolute;
  top: 0;
  right: -5px;
}
.notification-menu .nav-user-profile {
  display: inline-block;
  vertical-align: middle;
}
.notification-menu .nav-user-profile > .dropdown-toggle {
  color: #676a6c;
  font-size: 16px;
}
.notification-menu .nav-user-profile > .dropdown-menu a {
  font-size: 14px;
}
